.elementor-kit-3 {
    --e-global-color-primary: #19BE6F;
    --e-global-color-secondary: #EBF8F2;
    --e-global-color-text: #062A3F;
    --e-global-color-accent: #FF9505;
    --e-global-color-099a789: #FFFFFF;
    --e-global-color-69a5260: #006D77;
    --e-global-color-ee5a311: #F9F9F9;
    --e-global-color-4f441f9: #82929B;
    --e-global-color-19ec2d7: #19BE6F26;
    --e-global-color-c700d15: #FFFFFF00;
    --e-global-color-b63a61b: #82929B38;
    --e-global-color-fb50662: #062A3F1A;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Nunito";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Nunito";
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-line-height: 1.556em;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-e1b1480-font-family: "Roboto";
    --e-global-typography-e1b1480-font-size: 72px;
    --e-global-typography-e1b1480-font-weight: 900;
    --e-global-typography-e1b1480-font-style: normal;
    --e-global-typography-e1b1480-line-height: 1.139em;
    --e-global-typography-962044b-font-family: "Roboto";
    --e-global-typography-962044b-font-size: 48px;
    --e-global-typography-962044b-font-weight: 900;
    --e-global-typography-962044b-font-style: normal;
    --e-global-typography-962044b-line-height: 1.333em;
    --e-global-typography-fb4868f-font-family: "Roboto";
    --e-global-typography-fb4868f-font-size: 36px;
    --e-global-typography-fb4868f-font-weight: 900;
    --e-global-typography-fb4868f-font-style: normal;
    --e-global-typography-fb4868f-line-height: 1.333em;
    --e-global-typography-b2788e2-font-family: "Roboto";
    --e-global-typography-b2788e2-font-size: 24px;
    --e-global-typography-b2788e2-font-weight: 700;
    --e-global-typography-b2788e2-font-style: normal;
    --e-global-typography-b2788e2-line-height: 1.333em;
    --e-global-typography-7859efe-font-family: "Roboto";
    --e-global-typography-7859efe-font-size: 18px;
    --e-global-typography-7859efe-font-weight: 700;
    --e-global-typography-7859efe-font-style: normal;
    --e-global-typography-7859efe-line-height: 1.333em;
    --e-global-typography-d335e74-font-family: "Roboto";
    --e-global-typography-d335e74-font-size: 14px;
    --e-global-typography-d335e74-font-weight: 500;
    --e-global-typography-d335e74-font-style: normal;
    --e-global-typography-d335e74-line-height: 1.714em;
    --e-global-typography-77a4eab-font-family: "Nunito";
    --e-global-typography-77a4eab-font-size: 16px;
    --e-global-typography-77a4eab-font-weight: 700;
    --e-global-typography-77a4eab-font-style: normal;
    --e-global-typography-77a4eab-line-height: 1.5em;
    --e-global-typography-e646784-font-family: "Roboto";
    --e-global-typography-e646784-font-size: 18px;
    --e-global-typography-e646784-font-weight: 700;
    --e-global-typography-e646784-font-style: normal;
    --e-global-typography-e646784-line-height: 1.333em;
    --e-global-typography-af3e7db-font-family: "Roboto";
    --e-global-typography-af3e7db-font-size: 13px;
    --e-global-typography-af3e7db-font-weight: 700;
    --e-global-typography-af3e7db-font-style: normal;
    --e-global-typography-af3e7db-line-height: 1.846em;
    --e-global-typography-c9ac07a-font-family: "Nunito";
    --e-global-typography-c9ac07a-font-size: 14px;
    --e-global-typography-c9ac07a-font-weight: 700;
    --e-global-typography-c9ac07a-font-style: normal;
    --e-global-typography-c9ac07a-line-height: 1.714em;
    --e-global-typography-47e450f-font-family: "Nunito";
    --e-global-typography-47e450f-font-size: 16px;
    --e-global-typography-47e450f-font-weight: 400;
    --e-global-typography-47e450f-font-style: normal;
    --e-global-typography-47e450f-line-height: 1.75em;
    --e-global-typography-049d8ea-font-family: "Nunito";
    --e-global-typography-049d8ea-font-size: 12px;
    --e-global-typography-049d8ea-font-weight: 700;
    --e-global-typography-049d8ea-font-style: normal;
    --e-global-typography-049d8ea-line-height: 1.333em;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    font-style: var( --e-global-typography-text-font-style);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-3 p {
    margin-bottom: 32px;
}

.elementor-kit-3 a {
    color: var( --e-global-color-69a5260);
}

.elementor-kit-3 h1 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-e1b1480-font-family), Sans-serif;
    font-size: var( --e-global-typography-e1b1480-font-size);
    font-weight: var( --e-global-typography-e1b1480-font-weight);
    font-style: var( --e-global-typography-e1b1480-font-style);
    line-height: var( --e-global-typography-e1b1480-line-height);
    letter-spacing: var( --e-global-typography-e1b1480-letter-spacing);
    word-spacing: var( --e-global-typography-e1b1480-word-spacing);
}

.elementor-kit-3 h2 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-962044b-font-family), Sans-serif;
    font-size: var( --e-global-typography-962044b-font-size);
    font-weight: var( --e-global-typography-962044b-font-weight);
    font-style: var( --e-global-typography-962044b-font-style);
    line-height: var( --e-global-typography-962044b-line-height);
    letter-spacing: var( --e-global-typography-962044b-letter-spacing);
    word-spacing: var( --e-global-typography-962044b-word-spacing);
}

.elementor-kit-3 h3 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-fb4868f-font-family), Sans-serif;
    font-size: var( --e-global-typography-fb4868f-font-size);
    font-weight: var( --e-global-typography-fb4868f-font-weight);
    font-style: var( --e-global-typography-fb4868f-font-style);
    line-height: var( --e-global-typography-fb4868f-line-height);
    letter-spacing: var( --e-global-typography-fb4868f-letter-spacing);
    word-spacing: var( --e-global-typography-fb4868f-word-spacing);
}

.elementor-kit-3 h4 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-b2788e2-font-family), Sans-serif;
    font-size: var( --e-global-typography-b2788e2-font-size);
    font-weight: var( --e-global-typography-b2788e2-font-weight);
    font-style: var( --e-global-typography-b2788e2-font-style);
    line-height: var( --e-global-typography-b2788e2-line-height);
    letter-spacing: var( --e-global-typography-b2788e2-letter-spacing);
    word-spacing: var( --e-global-typography-b2788e2-word-spacing);
}

.elementor-kit-3 h5 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-7859efe-font-family), Sans-serif;
    font-size: var( --e-global-typography-7859efe-font-size);
    font-weight: var( --e-global-typography-7859efe-font-weight);
    font-style: var( --e-global-typography-7859efe-font-style);
    line-height: var( --e-global-typography-7859efe-line-height);
    letter-spacing: var( --e-global-typography-7859efe-letter-spacing);
    word-spacing: var( --e-global-typography-7859efe-word-spacing);
}

.elementor-kit-3 h6 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-d335e74-font-family), Sans-serif;
    font-size: var( --e-global-typography-d335e74-font-size);
    font-weight: var( --e-global-typography-d335e74-font-weight);
    font-style: var( --e-global-typography-d335e74-font-style);
    line-height: var( --e-global-typography-d335e74-line-height);
    letter-spacing: var( --e-global-typography-d335e74-letter-spacing);
    word-spacing: var( --e-global-typography-d335e74-word-spacing);
}

.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
    font-family: var( --e-global-typography-e646784-font-family), Sans-serif;
    font-size: var( --e-global-typography-e646784-font-size);
    font-weight: var( --e-global-typography-e646784-font-weight);
    font-style: var( --e-global-typography-e646784-font-style);
    line-height: var( --e-global-typography-e646784-line-height);
    letter-spacing: var( --e-global-typography-e646784-letter-spacing);
    word-spacing: var( --e-global-typography-e646784-word-spacing);
    color: var( --e-global-color-099a789);
    background-color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    padding: 16px 32px 16px 32px;
}

.elementor-kit-3 label {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-e646784-font-family), Sans-serif;
    font-size: var( --e-global-typography-e646784-font-size);
    font-weight: var( --e-global-typography-e646784-font-weight);
    font-style: var( --e-global-typography-e646784-font-style);
    line-height: var( --e-global-typography-e646784-line-height);
    letter-spacing: var( --e-global-typography-e646784-letter-spacing);
    word-spacing: var( --e-global-typography-e646784-word-spacing);
}

.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    font-style: var( --e-global-typography-text-font-style);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-4f441f9);
    background-color: var( --e-global-color-099a789);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-fb50662);
    padding: 16px 0px 16px 0px;
}

.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea:focus,
.elementor-kit-3 .elementor-field-textual:focus {
    color: var( --e-global-color-text);
    background-color: var( --e-global-color-099a789);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1196px;
}

.e-con {
    --container-max-width: 1196px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 32px;
}

.elementor-element {
    --widgets-spacing: 32px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-3 e-page-transition {
    background-color: #FFBC7D;
}

@media(max-width:1024px) {
    .elementor-kit-3 {
        --e-global-typography-text-font-size: 16px;
        --e-global-typography-e1b1480-font-size: 43px;
        --e-global-typography-962044b-font-size: 32px;
        --e-global-typography-fb4868f-font-size: 28px;
        --e-global-typography-b2788e2-font-size: 20px;
        --e-global-typography-7859efe-font-size: 16px;
        --e-global-typography-d335e74-font-size: 14px;
        --e-global-typography-049d8ea-font-size: 10px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-e1b1480-font-size);
        line-height: var( --e-global-typography-e1b1480-line-height);
        letter-spacing: var( --e-global-typography-e1b1480-letter-spacing);
        word-spacing: var( --e-global-typography-e1b1480-word-spacing);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-962044b-font-size);
        line-height: var( --e-global-typography-962044b-line-height);
        letter-spacing: var( --e-global-typography-962044b-letter-spacing);
        word-spacing: var( --e-global-typography-962044b-word-spacing);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-fb4868f-font-size);
        line-height: var( --e-global-typography-fb4868f-line-height);
        letter-spacing: var( --e-global-typography-fb4868f-letter-spacing);
        word-spacing: var( --e-global-typography-fb4868f-word-spacing);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-b2788e2-font-size);
        line-height: var( --e-global-typography-b2788e2-line-height);
        letter-spacing: var( --e-global-typography-b2788e2-letter-spacing);
        word-spacing: var( --e-global-typography-b2788e2-word-spacing);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-7859efe-font-size);
        line-height: var( --e-global-typography-7859efe-line-height);
        letter-spacing: var( --e-global-typography-7859efe-letter-spacing);
        word-spacing: var( --e-global-typography-7859efe-word-spacing);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-d335e74-font-size);
        line-height: var( --e-global-typography-d335e74-line-height);
        letter-spacing: var( --e-global-typography-d335e74-letter-spacing);
        word-spacing: var( --e-global-typography-d335e74-word-spacing);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-e646784-font-size);
        line-height: var( --e-global-typography-e646784-line-height);
        letter-spacing: var( --e-global-typography-e646784-letter-spacing);
        word-spacing: var( --e-global-typography-e646784-word-spacing);
    }
    .elementor-kit-3 label {
        font-size: var( --e-global-typography-e646784-font-size);
        line-height: var( --e-global-typography-e646784-line-height);
        letter-spacing: var( --e-global-typography-e646784-letter-spacing);
        word-spacing: var( --e-global-typography-e646784-word-spacing);
    }
    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-3 textarea,
    .elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-3 {
        --e-global-typography-text-font-size: 16px;
        --e-global-typography-e1b1480-font-size: 32px;
        --e-global-typography-962044b-font-size: 26px;
        --e-global-typography-fb4868f-font-size: 22px;
        --e-global-typography-b2788e2-font-size: 18px;
        --e-global-typography-e646784-font-size: 16px;
        --e-global-typography-e646784-line-height: 1.846em;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-e1b1480-font-size);
        line-height: var( --e-global-typography-e1b1480-line-height);
        letter-spacing: var( --e-global-typography-e1b1480-letter-spacing);
        word-spacing: var( --e-global-typography-e1b1480-word-spacing);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-962044b-font-size);
        line-height: var( --e-global-typography-962044b-line-height);
        letter-spacing: var( --e-global-typography-962044b-letter-spacing);
        word-spacing: var( --e-global-typography-962044b-word-spacing);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-fb4868f-font-size);
        line-height: var( --e-global-typography-fb4868f-line-height);
        letter-spacing: var( --e-global-typography-fb4868f-letter-spacing);
        word-spacing: var( --e-global-typography-fb4868f-word-spacing);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-b2788e2-font-size);
        line-height: var( --e-global-typography-b2788e2-line-height);
        letter-spacing: var( --e-global-typography-b2788e2-letter-spacing);
        word-spacing: var( --e-global-typography-b2788e2-word-spacing);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-7859efe-font-size);
        line-height: var( --e-global-typography-7859efe-line-height);
        letter-spacing: var( --e-global-typography-7859efe-letter-spacing);
        word-spacing: var( --e-global-typography-7859efe-word-spacing);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-d335e74-font-size);
        line-height: var( --e-global-typography-d335e74-line-height);
        letter-spacing: var( --e-global-typography-d335e74-letter-spacing);
        word-spacing: var( --e-global-typography-d335e74-word-spacing);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-e646784-font-size);
        line-height: var( --e-global-typography-e646784-line-height);
        letter-spacing: var( --e-global-typography-e646784-letter-spacing);
        word-spacing: var( --e-global-typography-e646784-word-spacing);
        padding: 6px 16px 6px 16px;
    }
    .elementor-kit-3 label {
        font-size: var( --e-global-typography-e646784-font-size);
        line-height: var( --e-global-typography-e646784-line-height);
        letter-spacing: var( --e-global-typography-e646784-letter-spacing);
        word-spacing: var( --e-global-typography-e646784-word-spacing);
    }
    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-3 textarea,
    .elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}